:root {
  --color-text: white;
  --color-background: #1b1b1b;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* https://keithclark.co.uk/articles/pure-css-parallax-websites/ */

.parallax {
  perspective: 1px;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
}

.parallax__layer--base {
  transform: translateZ(0);
}

.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
  height: 100%;
}

.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

.first_group {
  height: 80vh;
}

.second_group {
  margin-top: 120vh;
}

.third_group {
  margin-top: 100vh;
}
